<!DOCTYPE html>
<html>
    <head>
        <title>患者一覧</title>
    </head>
    <body>
        <h1>患者詳細</h1>
        <table border="1">
            <tr>
                <th>名前</th>
                <th>疾患</th>
                <th>医療履歴</th>
                <th>目標</th>
                <th>家族</th>
                <th>その他の医療履歴</th>
            </tr>
            <tr>
                <td><%= patient.name %></td>
                <td><%= patient.disease %></td>
                <td><%= patient.medicalHistory %></td>
                <td><%= patient.goals %></td>
                <td><%= patient.family %></td>
                <td><%= patient.medicalHistoryOther %></td>
            </tr>
        </table>
    </body>
</html>
