<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title><%= user.name %> の詳細情報</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1><%= user.name %> の詳細情報</h1>
        <ul>
            <li>名前: <%= user.name %></li>
            <li>生年月日: <%= user.birthdate %></li>
            <li>リハビリの開始日: <%= user.rehabilitationStartDate %></li>
            <li>介護保険の期限: <%= user.careInsuranceExpiration %></li>
            <li>特定疾患の期限: <%= user.specificDiseaseExpiration %></li>
            <li>重症心身障害者の手帳の期限: <%= user.severePhysicalDisabilityExpiration %></li>
            <li>介護マネージャーの事業所: <%= user.careManagerOffice %></li>
            <li>介護マネージャーの担当者名: <%= user.careManagerName %></li>
            <li>要介護度: <%= user.careNeedsLevel %></li>
            <li>生活保護の有無: <%= isWelfare(user.welfareAssistance) %></li>
        </ul>
        <a href="/">利用者一覧に戻る</a>
    </body>
</html>
